[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
behave = "*"
nose = "*"
requests = "*"
structlog = "*"
splinter = "*"
chromedriver-binary = "~=74.0"
itsdangerous = "*"
testfixtures = "*"
sqlalchemy = "*"
selenium = "*"
retrying = "*"
pyjwt = "*"
paramiko = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pytz = "*"
tzlocal = "*"
psutil = "*"

[requires]
python_version = "3.6"

[packages]
python-dateutil = "*"
