[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

behave = "*"
nose = "*"
requests = "*"
structlog = "*"
splinter = "*"
chromedriver-installer = "*"
testfixtures = "*"


[requires]

python_version = "3.6"
